# Pandas: Merge, Join, and Concatenate

Pandas provides powerful ways to combine datasets. In this lesson, we will explore the three main functions used for this purpose:

- **`merge()`**: Combines datasets based on common columns or indices.
- **`join()`**: Joins two DataFrames based on their indices.
- **`concat()`**: Concatenates multiple DataFrames along rows or columns.

## Table of Contents:
1. **The Three Main Functions**
2. **Understanding Different Types of Joins**
3. **Detailed Explanation of `merge()`**
4. **Detailed Explanation of `join()`**
5. **Detailed Explanation of `concat()`**
6. **Duplicated Keys**

---

## 1. The Three Main Functions

Pandas has three main functions for combining datasets:

1. **`merge()`**: Works similar to SQL joins. It combines DataFrames based on common columns or indices.
2. **`join()`**: A convenient method for joining DataFrames on their index.
3. **`concat()`**: Concatenates DataFrames along a particular axis (either rows or columns).

---

## 2. Understanding Different Types of Joins

When combining datasets, there are various ways to handle matching and non-matching data. These are called join types:

- **`left` join**: Includes all keys from the left DataFrame and corresponding matches from the right DataFrame.
- **`right` join**: Includes all keys from the right DataFrame and corresponding matches from the left DataFrame.
- **`inner` join**: Includes only the keys that are common in both DataFrames (intersection).
- **`outer` join**: Includes all keys from both DataFrames (union).
- **`cross` join**: Produces the Cartesian product of rows, matching every row from the first DataFrame with every row from the second.

Let’s start with examples!

---

## 3. Detailed Explanation of `merge()`

The `merge()` function is often used when you want to combine DataFrames based on common columns or indices, much like SQL joins.

*Example*

We will work with the following two DataFrames, `left_df` and `right_df`, based on a shared `key` column.

In [3]:
import pandas as pd

# Left DataFrame
left_df = pd.DataFrame({
                        "key": ["K0", "K1", "K2", "K3", "K4"],
                        "A": ["A0", "A1", "A2", "A3", "A4"],
                        "B": ["B0", "B1", "B2", "B3", "B4"]
                       })

# Right DataFrame
right_df = pd.DataFrame({
                        "key": ["K1", "K2", "K3", "K4", "K5"],
                        "C": ["C1", "C2", "C3", "C4", "C5"],
                        "D": ["D1", "D2", "D3", "D4", "D5"]
                       })

In [ ]:
left_df

In [ ]:
right_df

**Left Join**

A **left join** keeps all rows from the left DataFrame and adds the corresponding rows from the right DataFrame. 

If there’s no match, it fills with `NaN`.

In [ ]:
# Left Join on 'key' column

merged_df_left = pd.merge(left_df, right_df, on='key', how='left')

merged_df_left

**Right Join**

A **right join** keeps all rows from the right DataFrame and adds the corresponding rows from the left DataFrame.

In [ ]:
merged_df_right = pd.merge(left_df, right_df, on='key', how='right')

merged_df_right

**Inner Join (Default)**

By default, `merge()` performs an **inner join** (only keeps the rows where both DataFrames have matching keys).

In [ ]:
# Inner Join on 'key' column

merged_df_inner = pd.merge(left_df, right_df, on='key')

merged_df_inner

**Outer Join**

An **outer join** keeps all rows from both DataFrames, filling missing matches with `NaN`.

In [ ]:
# Outer Join on 'key' column

merged_df_outer = pd.merge(left_df, right_df, on='key', how='outer')
merged_df_outer

**Cross Join**

A **cross join** combines every row from the first DataFrame with every row from the second.

In [ ]:
# Cross Join (no 'on' parameter is needed)

merged_df_cross = pd.merge(left_df, right_df, how='cross')
merged_df_cross

**Using the `indicator` Parameter**

The `indicator=True` argument helps identify the source of each row in the resulting DataFrame:

In [ ]:
# Inner Join with indicator
merged_df_with_indicator = pd.merge(left_df, right_df, on='key', how='outer', indicator=True)
merged_df_with_indicator

---

## 4. Detailed Explanation of `join()`

The `join()` function is used to join two DataFrames on their index. It’s most useful when working with indexed data.

*Example*

Let’s create two DataFrames with different data but matching indices.

In [29]:
# Creating DataFrames with matching indices
df1 = pd.DataFrame({
    "A": ["A0", "A1", "A2", "A3"],
    "B": ["B0", "B1", "B2", "B3"]
}, index=["I0", "I1", "I2", "I3"])

df2 = pd.DataFrame({
    "C": ["C0", "C1", "C2", "C3"],
    "D": ["D0", "D1", "D2", "D3"]
}, index=["I1", "I2", "I3", "I4"])

In [ ]:
df1

In [ ]:
df2

**Using `join()`**

In [ ]:
# Joining on the index

joined_df = df1.join(df2) # defualt is left join
joined_df

You can also control how the join behaves with the `how` parameter (similar to `merge()`):

In [ ]:
# Left Join (default)
joined_right = df1.join(df2, how='right')

joined_right

In [ ]:
# Outer Join
joined_outer = df1.join(df2, how='outer')

joined_outer

In [ ]:
# Inner Join
joined_inner = df1.join(df2, how='inner')

joined_inner

---

## 5. Detailed Explanation of `concat()`

The `concat()` function is used to concatenate DataFrames along a specific axis (either rows or columns).

*Example*

Let’s create two DataFrames to demonstrate concatenation.

In [41]:
df1 = pd.DataFrame({
    "A": ["A0", "A1", "A2"],
    "B": ["B0", "B1", "B2"]
})

df2 = pd.DataFrame({
    "A": ["A3", "A4", "A5"],
    "B": ["B3", "B4", "B5"]
})

In [ ]:
df1

In [ ]:
df2

**Concatenating Along Rows (Default)**

By default, `concat()` stacks DataFrames vertically (along rows).

In [ ]:
# Concatenate along rows

concat_rows = pd.concat([df1, df2])
concat_rows

**Concatenating Along Columns**

To stack DataFrames side by side (along columns), set the `axis` parameter to `1`.

In [ ]:
# Concatenate along columns

concat_columns = pd.concat([df1, df2], axis=1)
concat_columns

Pandas Merge, Join, Concat examples documentation

https://pandas.pydata.org/docs/user_guide/merging.html

___

## 6. Duplicated keys

Let's see what happens if key's appear more than once in respective dataframes.

In [63]:
left_df = pd.DataFrame( 
                        {
                        "key": ["K0", "K1", "K2", "K3", "K4"],
                        "A": ["A0", "A1", "A2", "A3", "A4"],
                        "B": ["B0", "B1", "B2", "B3", "B4"]
                        }
                      )

right_df = pd.DataFrame(
                            {
                            "key": ["K1", "K4", "K3", "K1", "K5"],
                            "C": ["C1", "C2", "C3", "C4", "C5"],
                            "D": ["D1", "D2", "D3", "D4", "D5"],
                            }
                        )

In [64]:
left_df

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3
4  K4  A4  B4

In [65]:
right_df

  key   C   D
0  K1  C1  D1
1  K4  C2  D2
2  K3  C3  D3
3  K1  C4  D4
4  K5  C5  D5

In [ ]:
pd.merge(left_df, right_df, on='key', how='left')

**Mergin on keys with different names**

Lastly, we'll showcase how to merge on keys with different names.

In [58]:
left_df = pd.DataFrame( 
            {
                "key": ["K0", "K1", "K2", "K3", "K4"],
                "A": ["A0", "A1", "A2", "A3", "A4"],
                "B": ["B0", "B1", "B2", "B3", "B4"]
            }
                      )



right_df = pd.DataFrame(
            {
                "nyckel": ["K1", "K2", "K3", "K4", "K5"],
                "C": ["C1", "C2", "C3", "C4", "C5"],
                "D": ["D1", "D2", "D3", "D4", "D5"],
            }
                        )

In [ ]:
left_df

In [ ]:
right_df

In [ ]:
pd.merge(left_df, right_df, left_on='key', right_on='nyckel', how='inner')

## SCRAPE WIKIPEDIA YE

## probably need to:

**conda install lxml**

IN YOUR ENVIRONMENT!!!!

In [ ]:
swedish_demo = pd.read_html('https://sv.wikipedia.org/wiki/Sveriges_demografi')

len(swedish_demo)

In [ ]:
isinstance(swedish_demo, list)

In [ ]:
swedish_demo[1]

In [ ]:
swedish_demo[1]['Årlig tillväxt']['Promille']

In [ ]:
min_df = swedish_demo[1]

In [ ]:
min_df

In [ ]:
swedish_demo[1].columns = swedish_demo[1].columns.droplevel(level=0)

In [ ]:
swedish_demo[1]

In [ ]:
swedish_demo[1].columns.droplevel(level=0)