In [ ]:
import pandas as pd

In [ ]:
data = {
    'Name': ['John', 'Alice', 'Bob', 'John', 'Eve', 'Alice', 'Chris', 'David', 'Eve', 'Bob'],
    'Age': [28, 25, 22, 28, 30, 25, 35, 32, 30, 22],
    'City': ['New York', 'Los Angeles', 'Chicago', 'New York', 'San Francisco', 'Los Angeles', 'Chicago', 'New York', 'San Francisco', 'Los Angeles'],
    'Department': ['HR', 'Engineering', 'Finance', 'HR', 'Engineering', 'Engineering', 'Finance', 'HR', 'Engineering', 'Finance'],
    'Salary': [60000, 75000, 55000, 60000, 85000, 75000, 58000, 61000, 85000, 55000]
}


df = pd.DataFrame(data)

df

In [ ]:
df['Name']

## Duplicerad data

metod 1: genom att använda mask

In [ ]:
df.duplicated()

In [ ]:
duplicated_mask = df.duplicated()

my_duplicated_rows_df = df[duplicated_mask]

my_duplicated_rows_df

In [ ]:
my_unique_rows_df = df[~duplicated_mask]

my_unique_rows_df

metod 2 för att åstadkomma samma sak

In [ ]:
df.drop_duplicates() # ni kan även ange inplace=True här

**info() för stora datasets**

ibland, när din dataframe är väldigt stor, så syns inte antalet nul-values by default när du kör info()

In [ ]:
df.info(show_counts=True) # kommer att visa upp antalet nulls, oavsett storlek av dataframe

**apply()**

In [ ]:
df

Vår uppgift är följande:

Vi ska bestämma procentuell ökning av lön för varje anställd. Ju lägre lön du har, desto större procentuell ökning ska du få.

50000 < lön < 60000 --> 5%

60000 < lön < 70000 --> 4%

70000 < lön < 80000 --> 3%

80000 < lön < 90000 --> 2%

In [ ]:
def procentuell_ökning(lön: int | float) -> str:

    '''Den här funktionen tar in en lön, och spottar ur sig procentuell ökning'''

    if 50000 < lön <= 60000:
        ökning = '5%'
    elif 60000 < lön <= 70000:
        ökning = '4%'
    elif 70000 < lön <= 80000:
        ökning = '3%'
    elif 80000 < lön <= 90000:
        ökning = '2%'

    return ökning

In [ ]:
df['Procentuell ökning (sträng)'] = df['Salary'].apply(procentuell_ökning)

In [ ]:
df

In [ ]:
def procentuell_ökning_v2(lön: int | float) -> float:

    '''Den här funktionen tar in en lön, och spottar ur sig procentuell ökning'''

    if 50000 < lön <= 60000:
        ökning = 1.05
    elif 60000 < lön <= 70000:
        ökning = 1.04
    elif 70000 < lön <= 80000:
        ökning = 1.03
    elif 80000 < lön <= 90000:
        ökning = 1.02

    return ökning

In [ ]:
df['Procentuell ökning'] = df['Salary'].apply(procentuell_ökning_v2)

df

In [ ]:
df['Salary after increase'] = df['Salary'] * df['Procentuell ökning']

df

**Small tip to make multi-indeces more tangible**

In [ ]:
# this is now a multi-index series

df.groupby(['City', 'Department'])['Salary'].sum()

Alis trick

In [ ]:
my_multi_index_series = df.groupby(['City', 'Department'])['Salary'].sum()

my_multi_index_series

In [ ]:
my_multi_index_series.reset_index()

________

In [ ]:
df['Name'].value_counts().reset_index()